# Node.js
node_modules/
npm-debug.log
yarn-error.log

# dotenv environment variable file
.env

# Editor directories and files
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# IDE files
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Build files
/dist
